@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Forum&family=Montserrat:wght@200&family=Permanent+Marker&family=Tinos&display=swap');

body{
background-color:#F4F5F7;
background-image: url('./aboutimg/2.png'); /* Blue */
background-size: cover; 
background-position: center;
background-attachment:fixed; 
background-repeat:no-repeat; 
font-family: 'Montserrat', sans-serif;
}